
button:hover {
    background-color: #00ccff;
}
button {
    height: 38px;
    width: 120px;
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: white;
}
.RestaurantCreate {
    padding-top: 25px;
    margin-top: 0;
   
}
textarea {
    border: 2px solid gray;
    border-radius: 7px;
    margin-right: 8px;
}
#createRow{
    margin-top: 25px;
   /* margin-left:250px;*/
}
#RestaurantCreateDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

